		/*sets background color to black, adds padding on top to accomodate for the navbar*/		
		body {
			background-color: #000;
			padding-top: 57px;

		}

		/*gives beige text on a green background*/
		.dgreenbackground {
			background-color: #0a4650; 
			color: #fff; 
			padding: 10px 20px; 
			border-bottom: 3px solid black;
		}


		/*gives beige text on a lighter green background*/
		.lgreenbackground {
			background-color: #2c9e4b; 
			color: #fff; 
			padding: 10px 20px; 
			border-bottom: 3px solid black;
		}


		/*text font*/
		.textfont {
			font-family: arial; sans-serif;
		}


		/* removes the bullets from the navbar, sets its background color, locks it at the top of the page*/
		#navbar {
			list-style-type: none;
			background-color: #fff8b5;
			padding: 0;
			margin: 0;
			position: fixed;
			top: 0;
			width: 100%;
			border-bottom: 3px solid black;
		}

		/* sets color of the links from blue to black, ensures the links are organised in a line, removes the underline of the links*/
		#navbar a {
			display: inline-block;
			color: #000;
			text-align: center;
			text-decoration: none;
			padding: 14px 16px;
			
		}


		/*turns each link of the navbar white on a grey background on hover*/
		#navbar a:hover {
			background-color: #555;
			color: white;
		}

		#personalinfo {
			text-align:right; 
			color:#fff; 
			right:0;"
		}


		/*links in the navebar redirect to invisible blocks far enough above each category for the relevent text to not end up below the floating title*/
		a.anchor {
			display: block;
			position: relative;
			top: -145px;
			visibility: hidden;
		}

			
		/*headers and subheaders fonts*/
		h1, h2, h3 {
			font-family: roboto, sans-serif;
		}


		/*locks the header at the top of the page, ensures it's always in the foreground, with black text on a beige background*/
		h1 {
			border-bottom: 3px solid; 
			padding: 30px 20px;
			background-color:#fff8b5; 
			color:#000; 
			position:fixed; 
			top: 43px;
			z-index: 999;"
		}


		/*underlines all subheaders*/
		h2 {
			text-decoration: underline;
		}


