
		/*gives white text on a blue background*/
		.lbluebackground {
			background-color: #0a4650; 
			color: #fff; 
			padding: 10px 20px; 
			border-bottom: 3px solid black;
		}


		/*gives white text on a darker blue background*/
		.dbluebackground {
			background-color: #2c9e4b; 
			color: #fff; 
			padding: 10px 20px; 
			border-bottom: 3px solid black;
		}


		/*text font*/
		.textfont {
			font-family: arial; sans-serif;
		}


		/* removes the bullets from the navbar, sets its background color*/
		#navbar {
			list-style-type: none;
			background-color: #fff8b5;
			padding: 0;
			margin: 0;
			/*overflow: hidden;*/
		}
		/* sets color of the links from blue to black, ensures the styles apllied to the links applies to the full width of the navbar, removes the underline of the links*/
		#navbar a {
			display: inline-block;
			color: #000;
			text-align: center;
			text-decoration: none;
			padding: 14px 16px;
			
		}


		#navbar a:hover {
		    background-color: #555;
		    color: white;
		}

		/*links in the sidebar redirect to invisible blocks far enough above each category for the relevent text to not end up below the floating title*/
		a.anchor {
		    display: block;
		    position: relative;
		    top: -145px;
		    visibility: hidden;
		}

			
		/*headers and subheaders fonts*/
		h1, h2, h3 {
			font-family: roboto, sans-serif;
		}


		/*locks the header at the top of the page, ensures it's always in the foreground, with black text on a white background*/
		h1 {
			border-bottom: 3px solid; 
			padding: 30px 20px;
			background-color:#fff8b5; 
			color:#000; 
			position:fixed; 
			top: 43px;
			z-index: 999;"
		}


		/*underlines all subheaders*/
		h2 {
			text-decoration: underline;
		}


